<h1>Here are all my blogs</h1>
<div id="all-blogs"></div>
<br>
<div id="add-blog">
  <h2>Create Blog</h2>
  <form>
  title:
    <input id="new-blog-title" type="text"  >
    content:
    <input id="new-blog-content" type="text"  >
    <input  type="submit"  value="Add blog">
  </form>
</div>
<br>
<div id="show-blog"></div>
