// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#button-primary {
  width: 200px;
  margin: 0 auto;
  margin-right: 10px;
}
h1 {
  color: sienna;
  font-family: fantasy, sans-serif;
  padding: 20px;
  text-align: center;
}
