
<h2>Massge</h2>
<div id="all-massges"></div>

<div id="add-massge">
<form>
<input type="text" id="new-massge">
<input type="submit" value="Add New Massge">
</form>
</div>
<div id="show-massge"></div>