.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;

}

.container h2 {
    font-weight: normal;
    color: red;
    text-decoration: underline;
}

 img{
    opacity: 0.5;
}

img:hover{
    opacity: 2;
}

button{
    height: 50px;
    font-size: 20px;
}