.contaire{
    width: 800px;
    height: 400px;
    background: papayawhip;
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}
.box{
    height: 100px;
    width: 100px;
    background: plum;
    border: 2px solid chocolate;
}