<h2>name: <%= @store.name %></h2>
<p>location: <%= @store.location %></p>

store owners:
<ul>
<% @store.owners.each do |owner| %>
<li>

<%= link_to owner.name, owner_path(owner) %>

</li>
<% end %>
</ul>
<%# create_table "items", force: :cascade do |t|
    t.string "name"
    t.string "details"
    t.integer "price"
    t.integer "store_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end

  create_table "stores", force: :cascade do |t|
    t.string "name"
    t.string "location"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end %>