nav{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    
}
 nav:hover{
   background-color: blue;  
 }
 nav>a{
     margin:20px;
     text-decoration: none;
 }

 .footerlist{
     background-color: black;
     color: white;
 }
 li{
     list-style: none;
 }

 .requst-buttom{
     display: inline;
     border: gray solid  10px;
     display: inline;
 }