<nav>
  <div class="nav-wrapper blue-grey darken-1">
    <ul class="right">
      <li><%= link_to("Add New Donut", new_donut_path)%></li>
      <li><%= link_to "See All Donuts", donuts_path %></li>
    </ul>
  </div>
</nav>