<h2>My Messages</h2>
<div id="all-messages"></div>
<div id="add-message">
  <form>
    <h2>Write a message</h2>
    <input type="text" id="new-message">
    <input type="submit" value="add Message">
  </form>
</div>
