<h1>The Great Hall Of Cheese</h1>



<ol>
<% @cheeses.each do |cheese| %>
   <li> <a href="/cheese/<%= cheese.id %>"> Cheese <%= cheese.id %> Page</a> </li>
    <%= link_to("Delete", "/cheese/#{cheese.id}", method: "delete") %>
<% end %>
</ol>