<h2>Talk to Me </h2>
<div id="all-messages"></div>
<div id="add-message">

  <h3> New Message </h3>
  <form>
    <input type="text" id="new-message">
    <input type="submit" id="Add message">
  </form>
</div>