<h2>chat</h2>
<div id="all-messages"></div>
<div id=add-message>
<form>
<textarea type="text" id="new-message"></textarea>
<input type="submit" id="Add Message">
</form>
</div>
<div id=show-message></div>