<h1>Chatting .. </h1>
<div id="all-msgs"></div>
<div id="show-msg"></div>
<div id="add-msg">
  <h5>tell your friend whats happening now</h5>
  <form>
    <input type="text" id="new-msg">
    <input type="submit" id="Add msg">
  </form>
</div>