<div class="heading">
  <h3>All Messages</h3>
</div>
<div class="messages">
</div>
<div class="form">
  <form>
    <input type="text" placeholder="Type your message here" id="chat-input">
    <input type="submit" value="Send">
  </form>
</div>


