/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.btn_login {
  border: none;
  padding: 5px;
  display: inline-block;
  margin-left: 9em;
  vertical-align: top;
  margin-top: 4em;

  background: #7390a9;
  background-image: -webkit-linear-gradient(top, #7390a9, #355e82);
  background-image: -moz-linear-gradient(top, #7390a9, #355e82);
  background-image: -ms-linear-gradient(top, #7390a9, #355e82);
  background-image: -o-linear-gradient(top, #7390a9, #355e82);
  background-image: linear-gradient(to bottom, #7390a9, #355e82);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
 /* padding: 10px 20px 10px 20px;*/
  text-decoration: none;
}

.btn_login:hover {
  background: #064166;
  text-decoration: none;
}

.btn_login::before {
  content: url("../images/home.png");
  display: inline-block;
}

.btn_login span {
  display: inline-block;
  font-weight: bold;
  color: #e1e1e1;
  padding: 5px .5em;
  vertical-align: top;
}
