<h1>Here are all my messages</h1>

<div id = "all-messages"></div>

<div id="post-message">
<h2>write a message</h2>
    <form>
        <input type="text" id="new-message">
        <input type="submit" value="Add message">
    </form>
</div>

<div id = "show-message"> </div>