<h1>Here are all my todaos</h1>
<div id="all-todos"></div>
<div id="todo"></div>

<div id="add-todo">
  <h2>Create Todo</h2>
  <form>
    <input type="text" id="new-todo">
    <input type="submit" id="Add Todo">
  </form>
</div>