<h1>"The Great Hall of Cheeses"</h1>

<div class="content">
<ul>
<% @cheeses.each do |cheese| %>
<h4> <li><%= link_to(cheese.name, cheese_path(cheese)) %> </li></h4>
 <button><%= link_to 'Eat This Cheese', "/cheeses/#{cheese.id}", method: 'delete' %></button>

<% end %>
</ul>
</div>
<div class="NewCheese">
<span><button><%= link_to 'Add New Cheese', "/cheeses/new"%></span>
<img src="https://www.clipartmax.com/png/full/35-356923_0171-funny-cow-vector.png" 
width="200" height="200" alt="happy cow clipart" /></a>

</div>