<h1>A New Cheese On The Way! <a href="https://clipartxtras.com/download/4d10e40200496
d7f90d05205eac7c0d33c413f05.html" title="Image from clipartxtras.com">
<img src="https://img.clipartxtr
as.com/54fb1b3fe210074732030783c935e433_
signspecialistcom-beevault-decals-small-delivery-
truck-vinyl-delivery-truck-drawing_600-379.gif" width="70" alt="delivery truck drawing" /></a> </h1>

<%= render partial: 'nav' %>
<%= render partial: 'form' %>



<img src="https://www.clipartmax.com/png/full/88-882079
_une-autre-ptite-vir%C3%A9e-de-meuhhh-meuhhhh-pour-mon-amie-
cow.png" width="400" alt="cow" > 


