img.brook {
    width:600px ;
    display: block;
    margin-bottom: 30px;

  }


  p {
    font-size: 20px;
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;
  }

  img {
    width: 300px;
    display: inline-block;
    margin-bottom: 30px;
  }

