<body style="margin: 100px auto;width: 500px;height:500px;">
<h1>Game Of Rock, Paper, Scissors</h1>
<h2>Your play : <%= @play%></h2>
<h2>The computer play : <%= @computer_play %></h2>

<h2> The result</h2>
<h2 style="color:red"> <%= @result %></h2>
</div>