<body style="margin: 200px auto;width: 500px;height:500px;">
<h2 style="margin-right:50%;text-align:center">Secret Game</h2>
<a style="margin:10px" href="/games/secret/1">1</a>
<a style="margin:10px" href="/games/secret/2">2</a>
<a style="margin:10px" href="/games/secret/3">3</a>
<a style="margin:10px" href="/games/secret/1">4</a>
<a style="margin:10px" href="/games/secret/2">5</a>
<a style="margin:10px" href="/games/secret/3">6</a>
<a style="margin:10px" href="/games/secret/1">7</a>
<a style="margin:10px" href="/games/secret/2">8</a>
<a style="margin:10px" href="/games/secret/3">9</a>
<a style="margin:10px" href="/games/secret/10">10</a>
</body>