/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body{
	font-size: 12px;
	font-family: "Times New Roman", serif;
	color: #656565;
}

#container{
	margin: auto;
	padding: 10px;
	max-width: 850px;
}

h1, p{
	color: #999999;
}

img{
	width: 100%;
	display: inline-block;
}

img.box-img{
	max-width: 200px;
	border: 5px solid #ccc;
	width: auto;
}

a{
	color: #5fa2d1;
	text-decoration: none;
}
a:hover{
	color: #20222a;
}