<h1>All Tweets!</h1>
<div id="all-tweets"></div>
<div id="show-tweet">
</div>
<div id="add-tweet">
 <h2>New Tweet</h2>
  <form>
    <input type="text" id="new-tweet">
    <input type="submit" id="create-tweet">
  </form>
</div>
<div id="new-tweet"></div>