<h1>This is  <%= params[:@username] %> profile page</h1>

<%= 2 + 2 %> 
<%= "Hello"%> 

<% if false %> 
<p>This might not show</p>
<% end %> 

<% if @is_admin %> 
<p>You can delete this post, you are an admin</p>
<% end %> 
<%# This is a commented out %>