<h1> this is secret<%= @input_number %></h1>

<a href="/games/secret/1">1</a>
<a href="/games/secret/2">2</a>
<a href="/games/secret/3">3</a>
<a href="/games/secret/4">4</a>
<a href="/games/secret/5">5</a>
<a href="/games/secret/6">6</a>
<a href="/games/secret/7">7</a>
<a href="/games/secret/8">8</a>
<a href="/games/secret/9">9</a>
<a href="/games/secret/10">10</a>

<h1><%= @result %></h1>