<h1>Dounts#index</h1>
<p>Find me in app/views/dounts/index.html.erb</p>
<p><%# @arr %> </p>
<%#  %>

<% @donuts.each do |donut| %>
<p>Name: <%= donut.name %></p>
<P>Size: <%= donut.size %></P>
<P>Frosting: <%= donut.frosting_type %></p>
<% end %>