* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

nav {
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.my-alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}

.alert-container {
	padding: 20px;
	margin: 0;
	border-radius: 50px;
	text-align: center;
	background-color: #fff;
	transform: scale(0);
	max-height: 100vh;
	max-width: 500px;
	overflow-y: auto;

	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}
.alert-container::-webkit-scrollbar {
	display: none;
}

.pop {
	transform: scale(1);
}

.list-container {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}

.list-item {
	margin: 0;
	padding: 15px;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.list-item:hover {
	cursor: pointer;
	background-color: #f1f1f1;
}
.list-item img {
	max-width: 150px;
}

footer {
	padding: 10px 0;
}
footer .social {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
