body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT';
}


nav {
    color: white;
    background-color: rgb(105, 21, 39);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 40px 100px;
}

input#search {
    background: none;
    padding: 5px 10px;
    border: 1px solid white;
    outline: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

input#search::placeholder {
    color:white;
}

.container {
    text-align: center;
}