<h1>All messages</h1>
<div id="all-messages"></div>
<div id="add-message">
  <h2>Create Message</h2>
  <form>
    <input type="text" id="new-message">
    <input type="submit" id="Add message">
  </form>
</div>
