<h1>All Message</h1>

<div id="all-messages"></div>

<div id="add-message">
<h2>Send Message: </h2>
    <form >
        Name: <input type="text" id="new-name">
        Message: <input type="text" id="new-message">
        <input type="submit" value="send a Message">
    </form>
</div>

<div id="show-message">
<h2>show message information:</h2>
</div>
