<h1>Your Messages </h1>

<div id = "msgs"></div>
<div id = "display-msgs"></div>

<div id = "crea-msg">
<p>Enter new message</p>
<form></form>
<input type="text"  id="new-msg">
<input type="submit" value = "New Message">
<form>
</div>