/* 

## Style Hints: 
Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

 */


 body
 {
	 margin:   0 auto;
	 width:100%;
	 max-width: 1000px;
 }
#container
{
	margin: 20px auto;
	width: 900;
	max-width: 1000px;
}
h2
{
	color: lightslategray;
}

p:nth-child(2)
{
	color: lightblue;
}

footer
 {
	 width: 100%;
 }

 footer img
 {
	 width: 24%;
 }
