<h2>Here Are all messages</h2>
<div id="all-messages">

</div>
<div id="all-messagesss" >
</div>


<div id="add-message">
<form>
<input type="text" id="input">
<input type="submit" value="Add Message">
</form>
</div>