<h1>Pages#app</h1>


<div id="messages"> </div>

<div id="create-message"> 
    <h2>New Message</h2>
    <form>
        <input type="text" id="new-message">
        <input type="submit" value="New Message">
    </form>
</div>