<h1>Here are all my Messages</h1>
<div id="all-Messages"></div>
<div id="show-message"></div>
<div id="add-message">
  <h2>Create Todo</h2>
  <form>
    <input type="text" id="new-message">
    <input type="submit" id="Add Message">
  </form>
</div>
<div id="show-message"></div>