<h1>Here are all my messages</h1>

<div id="all-messages"></div>

<div id="show-message"></div>


<h2>Create Message</h2>

<div id="add-message">
    <form action="">
        <textarea rows="20" cols="50" id="new-message"></textarea>
        <input type="submit" value="Add Message">
    </form>
</div>
